- var page = 'contact'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade
    // Titre
    .row.clearfix.BG
      .container
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
                h1.titreInter!= t('contact:::title')
    // Info
    .row.clearfix
      .container
        // Infos contacts principal
        .col-md-12.column
          .row.clearfix
            .col-md-4.column
              ul.infos
                li!= t('contact:::contact_1_address')
            .col-md-4.column
              ul.infos.phone
                li!= t('contact:::contact_1_phone')
            .col-md-4.column
              ul.infos.mail
                li!= t('contact:::contact_1_mail')
        // Formulaire de contact
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              form
                span.leftCol
                  .form-group
                    input.champ(type='text', placeholder= t('contact:::form_input_1'), required='')
                  .form-group
                    input.champ(type='tel', placeholder= t('contact:::form_input_2'), required='')
                span.rightCol
                  .form-group
                    input.champ(type='email', placeholder= t('contact:::form_input_3'), required='')
                  .form-group
                    input.champ(type='text', placeholder= t('contact:::form_input_4'))
                .form-group
                  textarea.texte(type='text', placeholder= t('contact:::form_input_5'), required='')
                button.btn.btn-default.bt-submit.btnRedSubmit(type='submit')= t('contact:::button')
            .col-md-6.column
              iframe(src= t('contact:::iframe_url'), allowfullscreen='')
        // Infos contacts secondaire
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              ul.infos
                li!= t('contact:::contact_2_address')
            .col-md-6.column
              ul.infos
                li!= t('contact:::contact_3_address')
          .row.clearfix
            .col-md-6.column
              ul.infos
                li!= t('contact:::contact_4_address')
            .col-md-6.column
              ul.infos
                li!= t('contact:::contact_5_address')


    include ./footer.jade
    include ./scripts.jade