- var page = 'contact'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    // Titre
    .header
      .container
        .row
          .col-md-12
            h1= t('contact:::title')

    #mail-result
      if mail_sending_succeeded
        .container.mail-result-message
          .row
            .col-md-12
              .alert.alert-success.text-center= t('contact:::mail.sending_succeeded')
      else if mail_sending_failed
        .container.mail-result-message
          .row
            .col-md-12
              .alert.alert-danger.text-center= t('contact:::mail.sending_failed')

    // Info
    .container
      .row
        .col-md-12
          h2.contact= t('contact:::headquarter')
      .row
        // Infos contacts principal
        .col-md-4
          ul.infos
            li!= t('contact:::contact_1_address')
        .col-md-4
          ul.infos.phone
            li!= t('contact:::contact_1_phone')
        .col-md-4
          ul.infos.mail
            li!= t('contact:::contact_1_mail')
        // Formulaire de contact
      .row
        .col-md-6
          form(onsubmit=getPageLink('contact'), method='POST')
            .row
              .col-md-12
                small= t('contact:::form_required_notice')
              .col-md-6
                .form-group
                  input.champ(type='text', name='name', placeholder= t('contact:::form_name'), required='')
              .col-md-6
                .form-group
                  input.champ(type='email', name='email', placeholder= t('contact:::form_email'), required='')
              .col-md-6
                .form-group
                  input.champ(type='tel', name='tel', placeholder= t('contact:::form_phone'))
              .col-md-6
                .form-group
                  input.champ(type='text', name='subject', placeholder= t('contact:::form_subject'), required='')
              .col-md-12
                .form-group
                  textarea.texte(type='text', name='message', placeholder= t('contact:::form_message'), required='')
              .col-md-12
                button.btn.btn-primary.btn-submit(type='submit')= t('contact:::button')
        .col-md-6
          iframe(src= t('contact:::iframe_url'), allowfullscreen='')
      .row
        .col-md-12
          h2.contact= t('contact:::local_agencies')
      .row
        // Infos contacts secondaire
        .col-md-6
          ul.infos
            li!= t('contact:::contact_2_address')
        .col-md-6
          ul.infos
            li!= t('contact:::contact_3_address')
        .col-md-6
          ul.infos
            li!= t('contact:::contact_4_address')
        .col-md-6
          ul.infos
            li!= t('contact:::contact_5_address')

    include ./footer.jade
    include ./scripts.jade
