- var page = 'discover'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade
    // TOP
    .row.clearfix.BG
      .container
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              h1.titreInter= t('discover:::main_title')
              p.para= t('discover:::main_intro')
              a.btn-primary.btnRedInter(href=getOzwilloHost('portal') + '/my?ui_locales=' + i18n.lng())= t('discover:::button_create_account')
                img(src='/static/img/arrow-white.png')
              a.btn-primary.btnLine(href=getOzwilloHost('portal') + '/' + i18n.lng() + '/store?ui_locales=' + i18n.lng())
                img(src='/static/img/icones.png')
                = t('discover:::button_store')
            .col-md-6.column
              img.img-responsive.image.right(src='/static/img/decouvrir.png')
    // USAGES PERSOS
    .row.clearfix.grey
      .container
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              h2.soustitre!= t('discover:::personal_title', { postProcess: "jade" })
              p.paraHome= t('discover:::personal_text')
              a.btn-primary.btnRedInter(href=getOzwilloHost('portal') + '/my?ui_locales=' + i18n.lng())= t('discover:::button_create_account')
                img(src='/static/img/arrow-white.png')
            .col-md-6.column
              img.img-responsive.image.right(src='/static/img/usages.png')
    // PRO
    .row.clearfix
      .container
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              img.img-responsive.image(src='/static/img/mobiles.jpg')
            .col-md-6.column
              h2.soustitre!= t('discover:::professional_title', { postProcess: "jade" })
              p.paraHome= t('discover:::professional_text')
              ul.liens
                li= t('discover:::professional_item1')
                li= t('discover:::professional_item2')
                li= t('discover:::professional_item3')
                li= t('discover:::professional_item4')
              a.btn-primary.btnRedInter(href=getOzwilloHost('portal') + '/my?ui_locales=' + i18n.lng())= t('discover:::button_create_account')
                img(src='/static/img/arrow-white.png')
    // Developpeur
    .row.clearfix.grey
      .container
        .col-md-12.column
          .row.clearfix
            .col-md-6.column
              h2.soustitre!= t('discover:::developer_title', { postProcess: "jade" })
              p.paraHome= t('discover:::developer_text')
              a.btn-primary.btnRedInter(href=getOzwilloHost('portal') + '/my?ui_locales=' + i18n.lng())= t('discover:::button_create_account')
                img(src='/static/img/arrow-white.png')
            .col-md-6.column
              img.img-responsive.image.right(src='/static/img/decouvrir2.jpg')

    include ./footer.jade
    include ./scripts.jade
