// FOOTER
footer.page-row
  .container-fluid
    .row.clearfix.footer
      .col-md-12.column.bordure
        .row.clearfix
          .col-md-3.column
            .logo-footer
              img(src='/static/img/logo-footer.png')
          .col-md-9.column
            .right.top
              a.greyLink(href=getPageLink('discover'))= t('menu:::discover')
              a.greyLink(href=getPageLink('news'))= t('menu:::news')
              a.greyLink(href=getPageLink('co-construct'))= t('menu:::co-construct')
              a.greyLink(href=getPageLink('projects'))= t('menu:::projects')
              a.greyLink(href=getPageLink('contact'))= t('footer:::contact')
              a.greyLink(href='http://doc.ozwillo.com/')= t('footer:::developers')
              a.greyLink(href=getPageLink('legal-notices'))= t('footer:::legal-notices')
              a.greyLink(href=getPageLink('terms'))= t('footer:::terms')
      .col-md-12.column
        .row.clearfix
          .col-md-3.column
            .logo-twitter
              a(href='https://twitter.com/ozwillo')
                img(src='/static/img/twitter.jpg')
          .col-md-9.column
            .right.top.top-footer
              a(href=getPageLink('projects'))
                img(src='/static/img/cip.jpg')
              a(href=getPageLink('projects'))
                img(src='/static/img/eu.jpg')
              a(href=getPageLink('projects'))
                img(src='/static/img/investir.jpg')
              a(href=getPageLink('projects'))
                img(src='/static/img/RP.jpg')
