- var page = 'genesis'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    .header
      .container
        .row
          .col-md-12
            h1.with-subtitle= t('genesis:::main_title')
            .main-subtitle= t('genesis:::main_subtitle')

    .container
      .row
        .col-md-12
          h2= t('genesis:::oasis_title')
          img.img-responsive.center-block(src='/static/img/oasis.jpg')
      .row(style='margin-top:2em')
        .col-md-5.col-md-offset-1
          div.list-items
            p.items-header= t('genesis:::oasis_origin_title')
          p= t('genesis:::oasis_text_1')
          p!= t('genesis:::oasis_text_2')
          p= t('genesis:::oasis_text_3')
        .col-md-5
          div.list-items
            p.items-header!= t('genesis:::oasis_pillars_title')
            ul
              li= t('genesis:::oasis_pillars_item_1')
              li= t('genesis:::oasis_pillars_item_2')
              li= t('genesis:::oasis_pillars_item_3')
              li= t('genesis:::oasis_pillars_item_4')
          div.list-items
            p.items-header!= t('genesis:::oasis_results_title')
            ul
              li!= t('genesis:::oasis_results_item_1')
              li= t('genesis:::oasis_results_item_2')
              li= t('genesis:::oasis_results_item_3')
              li= t('genesis:::oasis_results_item_4')

    .map
      .container
        .row
          .col-md-12
            div.map-title.text-center!= t('genesis:::map_title')
            img.img-responsive.center-block(src='/static/img/carte.png')

    // Partenaire
    .container
      .row
        .col-md-12
          h3.text-center!= t('genesis:::partner_title')
      .row
        .col-md-5.col-md-offset-1.list-items
          ul
            li!= t('genesis:::partner_column_1_item_1')
            li!= t('genesis:::partner_column_1_item_2')
            li!= t('genesis:::partner_column_1_item_3')
        .col-md-5.list-items
          ul
            li!= t('genesis:::partner_column_2_item_1')
            li!= t('genesis:::partner_column_2_item_2')
            li!= t('genesis:::partner_column_2_item_3')

    // OCCIWare
    .img-background
      .container-fluid
        .row
          .col-md-12.with-background(style='margin-left:-15px')
            img.img-responsive.pull-left(src='/static/img/bandeau_Projet-en-cours.png')
            h2!= t('genesis:::occi_title')
            div.center-block(style='text-align:center')
              img.img-responsive(src='/static/img/occiware.png', style='display:inline; margin-right:2em;')
              img.img-responsive(src='/static/img/logo_pia.png', style='display:inline')
        .row(style='margin-top:2em')
          .col-md-10.col-md-offset-1
            p!= t('genesis:::occi_text_1')
            p= t('genesis:::occi_text_2')

    // Démonstrateur
    .sky
      .container
        .row
          .col-md-12
            h2.soustitre3!= t('genesis:::demonstrator_title')
        .row
          .col-md-6
            p.paraHome.black.retrait2!= t('genesis:::demonstrator_column_1_text')
            ul.liensInter.retrait2
              li= t('genesis:::demonstrator_column_1_item_1')
              li= t('genesis:::demonstrator_column_1_item_2')
              li= t('genesis:::demonstrator_column_1_item_3')
          .col-md-6
            p.paraHome.black.retrait2li!= t('genesis:::demonstrator_column_2_text')
            ul.liensInter.retrait2
              li= t('genesis:::demonstrator_column_2_item_1')
              li= t('genesis:::demonstrator_column_2_item_2')
              li= t('genesis:::demonstrator_column_2_item_3')

    // Évolution & Développement
    .container.genesis-future
      .row
        .col-md-12.with-background(style='margin-right:-15px')
          img.img-responsive.pull-right(src='/static/img/bandeau_Work-in-progress.png')
          h2.soustitre2!= t('genesis:::evolutions_title')
        .col-md-12.list-items
          p= t('genesis:::evolutions_items_title')
          ul
            li= t('genesis:::evolutions_item_1')
            li= t('genesis:::evolutions_item_2')
            li= t('genesis:::evolutions_item_3')
            li= t('genesis:::evolutions_item_4')
            li= t('genesis:::evolutions_item_5')
            li= t('genesis:::evolutions_item_6')
            li= t('genesis:::evolutions_item_7')

    include ./footer.jade
    include ./scripts.jade
