- var page = 'home'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    // Titre
    #content.header-home
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.home!= t('home:::main_title')

    .container
      .row
        .col-md-12
          img.img-responsive.img-offer(src='/static/img/accueil_offre_ozwillo.png')

    .container
      .row
        .col-md-4.col-sm-12
          img.img-responsive.center-block.icon-offers(src='/static/img/ico_data.png')
          h2.title-offer.text-center= t('home:::data_title')
          .block-offer.text-center= t('home:::data_description')
          .bottom-align-text
            a.btn.btn-lg.btn-page(href=getPageLink('offer-data'))= t('home:::data_browse')
        .col-md-4.col-sm-12
          img.img-responsive.center-block.icon-offers(src='/static/img/ico_portail.png')
          h2.title-offer.text-center= t('home:::portal_title')
          .block-offer.text-center= t('home:::portal_description')
          .bottom-align-text
            a.btn.btn-lg.btn-page(href=getPageLink('offer-portal'))= t('home:::portal_browse')
        .col-md-4.col-sm-12
          img.img-responsive.center-block.icon-offers(src='/static/img/ico_projet.png')
          h2.title-offer.text-center= t('home:::incubation_title')
          .block-offer.text-center= t('home:::incubation_description')
          div
            a.btn.btn-lg.btn-page(href=getPageLink('offer-incubation'))= t('home:::incubation_browse')

    .container
      .row
        .col-md-12
          h2.text-center= t('home:::differentiator_title')
        .col-md-12
          .row
            .col-md-6
              ul.commitment
                li.cc= t('home:::differentiator_1')
                li.tiers-confiance= t('home:::differentiator_3')
            .col-md-6
              ul.commitment
                li.gouvernance= t('home:::differentiator_2')
                li.opensource= t('home:::differentiator_4')

    .container.logos
      .row
        .col-md-12
          h2.text-center= t('home:::apps_already_joined')
      .row.flex-row
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_atol.jpg', alt='Logo Atol C&D')
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_blau_advisors.png', alt='Logo Blau Adivors')
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_openwide.png', alt='Logo Open Wide')
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_ibaysoft.png', alt='Logo Ibaysoft')
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_fnccr.png', alt='Logo FNCCR')
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_groupe_archer.png', alt='Logo Groupe Archer')
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_sictiam.png', alt='Logo SICTIAM')
        .col-md-3.col-xs-6
          .thumbnail
            img(src='/static/img/logo_david_holding.png', alt='Logo David Holding')

    include ./footer.jade
    include ./scripts.jade
