- var page = 'home'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    // Titre
    .header
      .container
        .row
          .col-md-12
            h1= t('home:::main_title')

    .container
      .row
        .col-md-12
          img.img-responsive.img-offer(src='/static/img/accueil_offre_ozwillo.png')

    .container
      .row.icon-offers
        .col-md-4.col-sm-12
          img.img-responsive.center-block(src='/static/img/ico_Data.png')
        .col-md-4.col-sm-12
          img.img-responsive.center-block(src='/static/img/ico_Portail.png')
        .col-md-4.col-sm-12
          img.img-responsive.center-block(src='/static/img/ico_Incubateur.png')
      .row.flex-row.text-center
        .col-md-4.col-sm-12
          h2.title-offer= t('home:::data_title')
        .col-md-4.col-sm-12
          h2.title-offer= t('home:::portal_title')
        .col-md-4.col-sm-12
          h2.title-offer= t('home:::incubation_title')
      .row.flex-row.text-center
        .col-md-4.col-sm-12
          .block-offer= t('home:::data_description')
          .bottom-align-text
            a.btn-primary.btn-red(href=getPageLink('offer-data'))= t('home:::data_browse')
        .col-md-4.col-sm-12
          .block-offer= t('home:::portal_description')
          .bottom-align-text
            a.btn-primary.btn-red(href=getPageLink('offer-portal'))= t('home:::portal_browse')
        .col-md-4.col-sm-12
          .block-offer= t('home:::incubation_description')
          .bottom-align-text
            a.btn-primary.btn-red(href=getPageLink('offer-incubation'))= t('home:::incubation_browse')

    .grey
      .container
        .row
          .col-md-12
            h2= t('home:::differentiator_title')
          .col-md-12
            .row
              .col-md-6
                ul.commitment
                  li.cc= t('home:::differentiator_1')
                  li.tiers-confiance= t('home:::differentiator_3')
              .col-md-6
                ul.commitment
                  li.gouvernance= t('home:::differentiator_2')
                  li.opensource= t('home:::differentiator_4')

    .container-fluid
      .row
        .col-md-12
          h2.violet= t('home:::apps_already_joined')
            img.logo-inline(src='/static/img/logo.png')
      .row.flex-row
        .col-md-3.logo-list
          img(src='/static/img/Atol.jpg')
        .col-md-3.logo-list
          img(src='/static/img/blau_advisors.png')
        .col-md-3.logo-list
          img(src='/static/img/FNCCR.jpg')
        .col-md-3.logo-list
          img(src='/static/img/groupe-archer.jpg')
        .col-md-3.logo-list
          img(src='/static/img/sictiam.png')
        .col-md-3.logo-list
          img(src='/static/img/openwide.jpg')
        .col-md-3.logo-list
          img(src='/static/img/DH.jpg')
        .col-md-3.logo-list
          img(src='/static/img/ibaysoft.png')

    include ./footer.jade
    include ./scripts.jade
