- var page = 'offer-portal'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade

    #content.header
      .container
        .row
          .col-md-12
            h1.with-subtitle= t('offer-portal:::main_title')
            .main-subtitle= t('offer-portal:::main_subtitle')
    
    .container.offer.offer-portal
      .row
        .col-md-12
          div.portal-type= t('offer-portal:::community_market_portal_type')
          h2= t('offer-portal:::community_market_title')
          div.subtitle= t('offer-portal:::community_market_subtitle')
      .row
        .col-sm-6.col-xs-12
          div.list-items
            p.items-header= t('offer-portal:::customized_applications')
            != t('offer-portal:::customized_applications_items')
          div.list-items
            p.items-header= t('offer-portal:::customized_data')
            != t('offer-portal:::customized_data_items')
        .col-sm-6.hidden-xs
          img.img-responsive.img-block-illustration(src='/static/img/Image_portail_communautaire.png', alt='Illustration Portail personnalisé')
      .row(style='margin-top:2em')
        .col-md-6.col-sm-12
          a.btn.btn-sm.btn-page.pull-left(href=getPageLink('contact'))= t('offer-portal:::contact_us')
        .col-md-6.hidden-sm.hidden-xs
          img.img-responsive.pull-left.country-icon(src='/static/img/ico_BG.png', alt='Icône Bulgarie')
          img.img-responsive.pull-left.country-icon(src='/static/img/ico_FR.png', alt='Icône Bulgarie')
          img.img-responsive.pull-left.country-icon(src='/static/img/ico_ES.png', alt='Icône Bulgarie')
          img.img-responsive.pull-left.country-icon(src='/static/img/ico_IT.png', alt='Icône Bulgarie')
          img.img-responsive.pull-left.country-icon(src='/static/img/ico_TR.png', alt='Icône Bulgarie')

    .img-background
      .container.offer.offer-portal
        .row
          .col-md-12
            div.portal-type= t('offer-portal:::community_apps_portal_type')
            h2= t('offer-portal:::community_apps_title')
        .row
          .col-sm-6.hidden-xs
            img.img-responsive.img-block-illustration(src='/static/img/Image_portail_decouvrir.png', alt='Illustration Portail communautaire')
          .col-sm-5.col-sm-offset-1
            div.list-items
              != t('offer-portal:::community_apps_items')
            a.btn.btn-sm.btn-page.pull-right(href=getOzwilloHost('portal') + '/' + i18n.lng() + '/store?ui_locales=' + i18n.lng())= t('offer-portal:::go_to_portal')

    .container.offer.offer-portal
      .row
        .col-md-12
          div.portal-type= t('offer-portal:::customized_portal_type')
          h2= t('offer-portal:::customized_title')
      .row
        .col-sm-6.col-xs-12
          div.subtitle= t('offer-portal:::customized_subtitle')
          div.list-items
            p.items-header= t('offer-portal:::customized_applications')
            != t('offer-portal:::customized_applications_items')
          div.list-items
            p.items-header= t('offer-portal:::customized_data')
            != t('offer-portal:::customized_data_items')
        .col-sm-6.hidden-xs
          img.img-responsive.img-block-illustration(src='/static/img/Image_portail_personnalise.png', alt='Illustration Portail personnalisé')
      .row
        .col-md-6.col-sm-12
          a.btn.btn-sm.btn-page.pull-left(href=getPageLink('contact'))= t('offer-portal:::contact_us')
        .col-md-6.hidden-sm.hidden-xs
          img.img-responsive.pull-left(src='/static/img/logo_oauth2.png', alt='Logo OAuth2')
          img.img-responsive.pull-left(src='/static/img/logo_openid.png', alt='Logo OpenID')


    include ./footer.jade
    include ./scripts.jade
