- var page = 'who-are-we'
doctype html
html(lang=i18n.lng())
  include ./header.jade
  body
    include ./menu.jade
      
    .header
      .container
        .row
          .col-md-12
            h1= t('who-are-we:::main_title')

    .container
      .row
        .col-md-9
          h2.violet= t('who-are-we:::community_title')
      .row
        .col-md-9
          p!= t('who-are-we:::community_desc', {postProcess: "jade"})
        .col-md-3
          a.btn-primary.btn-blue(href='/static/pdf/ozwillo_status.pdf')= t('who-are-we:::ozwillo_status')
          a.btn-primary.btn-blue(href='/static/pdf/ozwillo_membership_grid.pdf')= t('who-are-we:::ozwillo_membership_grid')
          .side-pane!= t('who-are-we:::why_ozwillo')
          img.img-responsive.center-block(src='/static/img/ict_psp.png')
          img.img-responsive.center-block(src='/static/img/eu.jpg')

    .grey
      .container
        .row
          .col-md-9
            h2.violet= t('who-are-we:::governance_title')
        .row
          .col-md-9
            p!= t('who-are-we:::governance_desc_part1', {postProcess: "jade"})
            p!= t('who-are-we:::governance_desc_quote', {postProcess: "jade"})
            p!= t('who-are-we:::governance_desc_part2', {postProcess: "jade"})
          .col-md-3
            a.btn-primary.btn-red(href=getPageLink('members'))= t('who-are-we:::governance_members')
            a.btn-primary.btn-blue(href='/static/pdf/governance_membership_bulletin.pdf')= t('who-are-we:::governance_membership_bulletin')

    .container
      .row
        .col-md-9
          h2.violet= t('who-are-we:::cooperative_title')
      .row
        .col-md-9
          p!= t('who-are-we:::cooperative_desc', {postProcess: "jade"})
        .col-md-3
          a.btn-primary.btn-red(href=getPageLink('contact'))= t('who-are-we:::cooperative_contact')

    include ./footer.jade
    include ./scripts.jade
